body {
    font-family: 'Georgia', serif;
    background: #ffe6ea;
    text-align: center;
    margin: 0;
}

section {
    padding: 60px 20px;
}

.hero h1 {
    font-size: 3em;
    color: #c2185b;
}


button {
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 25px;
    border: none;
    background: #ff4d6d;
    color: white;
    cursor: pointer;
}

